# MongoDB Atlas Connection (Shared by all backend services)
MONGODB_URI=mongodb+srv://lnhuy1512:15122004LNH@ai-tutor.bazwweq.mongodb.net/?appName=AI-tutor
DATABASE_NAME=ai_tutor

# Service-specific configs (override per service if needed)
AUTH_SERVICE_PORT=5001
AI_CHAT_SERVICE_PORT=5002
FLASHCARD_SERVICE_PORT=3003
QUIZ_SERVICE_PORT=5004

# API Keys (nếu cần)
GEMINI_API_KEY=
JWT_SECRET=